.container {
  display: grid;
  grid-template-columns: 880px 300px;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "head head"
    "main side"
}

.head {
  grid-area: head;
}

.main {
  grid-area: main;
}

.side {
  grid-area: side;
}

.tail {
  z-index: 10;
  width: 100%;  
}